* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-family: "Lato", sans-serif;
}
p {
  font-family: "Lato", sans-serif;
}
span {
  font-family: "Lato", sans-serif;
}
body {
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)
    ),
    url(/assets/fondoreloj.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul li a {
  color: #fff;
  opacity: 1;
  text-decoration: none;
  transition: all 0.3s;
  font-family: "Lato", sans-serif;
  font-size: large;
  position: relative;
}
header ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

header ul li a:hover::before {
  opacity: 1;
}
header ul li a::before {
  content: "";
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: -5px;
  width: 100%;
  left: 0;
  transition: 0.3s;
  opacity: 0;
}
.container-logo {
  width: 100%;
  display: flex;
  justify-content: end;
}
.logo {
  width: 80px;
  height: auto;
  margin-right: 20px;
}
/*  grid */
.container-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 50px 100vh 100vh 150px;
  grid-template-areas:
    "header header"
    "main main"
    "more more"
    "footer footer";
}

.more {
  grid-area: more;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  grid-area: header;
  background-color: #b7ac92;
}
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.footer {
  grid-area: footer;
  background-color: #b7ac92;
}
/* Fin grid */

/*Derechos de autor y redes*/
footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: auto;
}
.redes {
  transition: all 0.5s;
  font-size: x-large;
  color: #ffffff;
}
.redes-container {
  display: flex;
  gap: 20px;
}
footer p {
  color: #fff;
}
.hover-whatsapp:hover {
  color: aquamarine;
}
.hover-instagram:hover {
  color: deeppink;
}
.hover-facebook:hover {
  color: steelblue;
}

/*Fin de derechos de autor y redes*/

/* Contenedor de fotos */
/*    text-shadow: 2px 4px 15px #000*/
.container-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
}

.description {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: large;
  text-align: center;
  margin-bottom: 50px;
}

/* Boton */
button {
  padding: 0.8em 1.8em;
  border: 2px solid #b7ac92;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: "Lato", sans-serif;

  color: #b7ac92;
}

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #b7ac92;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
  cursor: pointer;
}
/*fin boton*/

.subtitle {
  color: #fff;
  font-size: xx-large;
  font-family: "Montserrat", serif;
  text-align: center;
  padding-bottom: 20px;
}
.titleCursive {
  font-size: 80px;
  font-family: "Merriweather", serif;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 10px #000;
  letter-spacing: 3px;
}

/* Sobre nosotros */
.container-about {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.container-about div {
  display: flex;
  gap: 20px;
  background-color: #fcf6ef;
  padding: 10px;
  border-radius: 10px;
}
.container-about div div {
  display: flex;
  flex-direction: column;
  color: #c28f38;
}
.imagenes {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
/*Fin sobre nosotros*/
/*Formulario*/
.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60rem;
  height: 60rem;
  background-color: #fcf6ef;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.form-label {
  font-family: "Lato", sans-serif;
  color: #c28f38;
}
.form-input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid #c28f38;
  width: 100%;
  margin-bottom: 2rem;
  color: #000;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}
.form-textarea {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid #c28f38;
  margin-bottom: 2rem;
  color: #000;
  font-family: "Montserrat", sans-serif;
  resize: none;
  font-size: 1.8rem;
  width: 100%;
  height: 15rem;
}
.btn-submit {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.5em;
}
/*Fin formulario*/

/*Catalogo de productos*/
.container-product {
  display: flex;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  color: #c28f38;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcf6ef;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  gap: 10px;
}

/*fin catalogo productos*/
