.container-about {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: -1;

  div {
    @include props-flex(row, center, center);
    background-color: #fcf6ef;

    div {
      display: flex;
      flex-direction: column;
      color: #c28f38;
      width: 100%;
    }
  }
}

.description-about {
  padding: 10px;
  color: #25221b;
  font-size: medium;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  width: 80%;
}

.imagenes {
  object-fit: cover;
  width: 100%;
  height: 70%;
}
