button {
  padding: 0.8em 1.8em;
  border: 2px solid #b7ac92;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: "Lato", sans-serif;
  color: #b7ac92;

  &::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #b7ac92;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  &:hover {
    &::before {
      width: 105%;
    }

    color: #111;
  }
}

/* Boton productos */
.button-product {
  padding: 0.8em 1.8em;
  border: 2px solid #b7ac92;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: "Lato", sans-serif;
  color: #ffffff;

  &::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  &:hover {
    &::before {
      width: 105%;
    }

    color: #111;
  }
}
/* fin boton productos */
